{%- comment -%} /sections/slideshow.liquid {%- endcomment -%}

{%- liquid
	assign slides_count = section.blocks.size
-%}

<section class="abc-slideshow">
	{%- if section.blocks.size > 1 -%}
		<div class="slick-slider">
			{%- for block in section.blocks -%}
				{%- liquid
					assign image = block.settings.image
					assign btn_link =  block.settings.slide_btn_link | default: '#'
				-%}

				<div class="slick-item">
					{%- if image -%}
						<span class="background-image" style="background-image: url({{ image | image_url: width: 1920 }});"></span>
					{%- else -%}
						<span class="background-image" style="background-image: url({{ '1920x500.png' | asset_url }});"></span>
					{%- endif -%}

					<div class="wrapper">
						<div class="row">
							<div class="col">
								<div class="card">
									{%- if block.settings.slide_subheading != blank -%}
										<span class="tag-line">{{ block.settings.slide_subheading | escape | newline_to_br }}</span>
									{%- endif -%}

									{%- if block.settings.title != blank -%}
										<h2 role="heading" aria-level="2">{{ block.settings.title | escape }}</h2>
									{%- endif -%}

									{%- if block.settings.slide_btn_text != blank -%}
										<a role="link" class="btn-default inverse" href="{{ btn_link }}">{{ block.settings.slide_btn_text | escape }}</a>
									{%- endif -%}
								</div>
							</div>
						</div>
					</div>
				</div>
			{%- endfor -%}
		</div>
	{%- else -%}
		<div class="slick-banner">
			{%- for block in section.blocks -%}
				{%- liquid
					assign image = block.settings.image
					assign btn_link =  block.settings.slide_btn_link | default: '#'
				-%}

				<div class="slick-item">
					{%- if image -%}
						<span class="background-image" style="background-image: url({{ image | image_url: width: 1920 }});"></span>
					{%- else -%}
						<span class="background-image" style="background-image: url({{ '1920x500.png' | asset_url }});"></span>
					{%- endif -%}

					<div class="wrapper">
						<div class="row">
							<div class="col">
								<div class="card">
									{%- if block.settings.slide_subheading != blank -%}
										<span class="tag-line">{{ block.settings.slide_subheading | escape | newline_to_br }}</span>
									{%- endif -%}

									{%- if block.settings.title != blank -%}
										<h2 role="heading" aria-level="2">{{ block.settings.title | escape }}</h2>
									{%- endif -%}

									{%- if block.settings.slide_btn_text != blank -%}
										<a role="link" class="btn-default inverse" href="{{ btn_link }}">{{ block.settings.slide_btn_text | escape }}</a>
									{%- endif -%}
								</div>
							</div>
						</div>
					</div>
				</div>
			{%- endfor -%}
		</div>
	{%- endif -%}

	{%- if section.blocks.size > 1 -%}
		<div class="slick-slider-controls">
			<div class="wrapper">
				<div class="slider-controls">
					<button type="button" data-control="slickPrev">
						<svg width="22" height="16" viewBox="0 0 22 16" xmlns="http://www.w3.org/2000/svg" class="uk-preserve uk-svg">
							<path d="M21 9C21.5523 9 22 8.55228 22 8C22 7.44772 21.5523 7 21 7V9ZM0.292892 7.29289C-0.0976315 7.68342 -0.0976315 8.31658 0.292892 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292892 7.29289ZM21 7L1 7V9L21 9V7Z" fill="white"></path>
						</svg>
					</button>
					<div class="slider-dots"></div>
					<button type="button" data-control="slickNext">
						<svg width="22" height="16" viewBox="0 0 22 16" xmlns="http://www.w3.org/2000/svg" class="uk-preserve uk-svg">
							<path d="M1 7C0.447715 7 4.82823e-08 7.44772 0 8C-4.82823e-08 8.55228 0.447715 9 1 9L1 7ZM21.7071 8.70711C22.0976 8.31658 22.0976 7.68342 21.7071 7.2929L15.3431 0.928933C14.9526 0.538409 14.3195 0.538409 13.9289 0.928933C13.5384 1.31946 13.5384 1.95262 13.9289 2.34315L19.5858 8L13.9289 13.6569C13.5384 14.0474 13.5384 14.6805 13.9289 15.0711C14.3195 15.4616 14.9526 15.4616 15.3431 15.0711L21.7071 8.70711ZM1 9L21 9L21 7L1 7L1 9Z" fill="white"></path>
						</svg>
					</button>
					<button type="button" data-control="slickPlay">
						<svg width="13" height="13" viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg" class="uk-preserve uk-svg">
							<path d="M12.3155 5.45033L2.10095 0.166757C1.27102 -0.262327 0 0.154063 0 1.21535V11.78C0 12.7321 1.18106 13.3059 2.10095 12.8285L12.3155 7.54751C13.2267 7.07781 13.2296 5.92004 12.3155 5.45033Z" fill="white"></path>
						</svg>
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 13 13" xml:space="preserve" class="uk-preserve uk-svg" width="13" height="13">
              <path class="st0" d="M2,13c-0.4,0-0.7-0.1-1.1-0.3C0.4,12.4,0,11.8,0,11.2V1.8c0-0.6,0.4-1.2,1-1.6c0.7-0.4,1.5-0.4,2.1,0L12,4.9 c0.6,0.3,1,0.9,1,1.6c0,0.7-0.4,1.3-1.1,1.6L3,12.7C2.7,12.9,2.3,13,2,13z M2,1.6c-0.1,0-0.2,0-0.3,0.1C1.6,1.7,1.6,1.8,1.6,1.8 v9.3c0,0,0,0.1,0.1,0.2c0.1,0.1,0.4,0.1,0.6,0l9-4.7c0.2-0.1,0.2-0.1,0.2-0.2c0-0.1,0-0.1-0.1-0.2l0,0l-9-4.7 C2.2,1.6,2.1,1.6,2,1.6z" fill="white"></path>
            </svg>
					</button>
					<button type="button" data-control="slickPause">
						<svg width="13" height="13" viewBox="0 0 13 13" xmlns="http://www.w3.org/2000/svg" class="uk-preserve uk-svg">
							<path d="M5.57143 1.39286V11.6071C5.57143 12.3761 4.94754 13 4.17857 13H1.39286C0.623884 13 0 12.3761 0 11.6071V1.39286C0 0.623884 0.623884 0 1.39286 0H4.17857C4.94754 0 5.57143 0.623884 5.57143 1.39286ZM4.17857 11.433V1.56696C4.17857 1.47121 4.10022 1.39286 4.00446 1.39286H1.56696C1.47121 1.39286 1.39286 1.47121 1.39286 1.56696V11.433C1.39286 11.5288 1.47121 11.6071 1.56696 11.6071H4.00446C4.10022 11.6071 4.17857 11.5288 4.17857 11.433ZM13 1.39286V11.6071C13 12.3761 12.3761 13 11.6071 13H8.82143C8.05245 13 7.42857 12.3761 7.42857 11.6071V1.39286C7.42857 0.623884 8.05245 0 8.82143 0H11.6071C12.3761 0 13 0.623884 13 1.39286ZM11.6071 11.433V1.56696C11.6071 1.47121 11.5288 1.39286 11.433 1.39286H8.99554C8.89978 1.39286 8.82143 1.47121 8.82143 1.56696V11.433C8.82143 11.5288 8.89978 11.6071 8.99554 11.6071H11.433C11.5288 11.6071 11.6071 11.5288 11.6071 11.433Z" fill="white"></path>
						</svg>
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 13 13" xml:space="preserve" class="uk-preserve uk-svg" width="13" height="13">
              <path class="st0" d="M5.6,1.4v10.2c0,0.8-0.6,1.4-1.4,1.4H1.4C0.6,13,0,12.4,0,11.6V1.4C0,0.6,0.6,0,1.4,0h2.8 C4.9,0,5.6,0.6,5.6,1.4z M13,1.4v10.2c0,0.8-0.6,1.4-1.4,1.4H8.8c-0.8,0-1.4-0.6-1.4-1.4V1.4C7.4,0.6,8.1,0,8.8,0h2.8 C12.4,0,13,0.6,13,1.4z" fill="white"></path>
            </svg>
					</button>
				</div>
			</div>
		</div>
	{%- endif -%}
</section>

{% schema %}
{
"name": "Slideshow",
"max_blocks": 5,
"blocks": [
{
"type": "image",
"name": "Slide",
"settings": [
{
"type": "header",
"content": "Image"
},
{
"type": "image_picker",
"id": "image",
"label": "Image",
"info": "2048px width recommended"
},
{
"type": "header",
"content": "Text"
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Aussie Ballers Winter Collection"
},
{
"type": "text",
"id": "slide_subheading",
"label": "Subheading",
"default": "Winter 2020/2021 Collection"
},
{
"type": "header",
"content": "Buttons"
},
{
"type": "text",
"id": "slide_btn_text",
"label": "Button text",
"default": "Shop Now"
},
{
"type": "url",
"id": "slide_btn_link",
"label": "Button URL"
}
]
}
],
"presets": [
{
"name": "Slideshow",
"category": "Image",
"blocks": [
{
"type": "image"
},
{
"type": "image"
}
]
}
]
}

{% endschema %}